SECRET_KEY=change-me
DEBUG=True
DATABASE_URL=postgres://postgres:postgres@localhost:5432/cstep
REDIS_URL=redis://localhost:6379
MEDIA_SERVER_WEBHOOK_SECRET=change-me
MEDIA_SERVER_RTMP_BASE_URL=rtmp://localhost:1935/live
MEDIA_SERVER_RTSP_BASE_URL=rtsp://localhost:8554/live
MEDIA_SERVER_HLS_BASE_URL=http://localhost:8888/live
MEDIA_SERVER_WEBRTC_BASE_URL=http://localhost:8889/live

MY_NAMBER = 9611236211
